* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.row::after {
    clear: both; 
    content: "";
    display: table;
}

[class*='col-'] {
    float: left;
    padding: 15px;
}


.lg-col-1 {width: 8.33%;}
    .lg-col-2 {width: 16.66%;}
    .lg-col-3 {width: 25%;}
    .lg-col-4 {width: 33.33%;}
    .lg-col-5 {width: 41.66%;}
    .lg-col-6 {width: 50%;}
    .lg-col-7 {width: 58.33%;}
    .lg-col-8 {width: 66.66%;}
    .lg-col-9 {width: 75%;}
    .lg-col-10 {width: 83.33%;}
    .lg-col-11 {width: 91.66%;}
    .lg-col-12 {width: 100%;}

    [class*='col-'] {
        background: turquoise;
    }

@media (max-width: 960px) and (min-width: 768px) {

    .md-col-1 {width: 8.33%;}
    .md-col-2 {width: 16.66%;}
    .md-col-3 {width: 25%;}
    .md-col-4 {width: 33.33%;}
    .md-col-5 {width: 41.66%;}
    .md-col-6 {width: 50%;}
    .md-col-7 {width: 58.33%;}
    .md-col-8 {width: 66.66%;}
    .md-col-9 {width: 75%;}
    .md-col-10 {width: 83.33%;}
    .md-col-11 {width: 91.66%;}
    .md-col-12 {width: 100%;}

    [class*='col-'] {
        background: lightblue;
    }
} 


@media (max-width: 768px) {
    .sm-col-1 {width: 8.33%;}
    .sm-col-2 {width: 16.66%;}
    .sm-col-3 {width: 25%;}
    .sm-col-4 {width: 33.33%;}
    .sm-col-5 {width: 41.66%;}
    .sm-col-6 {width: 50%;}
    .sm-col-7 {width: 58.33%;}
    .sm-col-8 {width: 66.66%;}
    .sm-col-9 {width: 75%;}
    .sm-col-10 {width: 83.33%;}
    .sm-col-11 {width: 91.66%;}
    .sm-col-12 {width: 100%;}
    [class*='col-'] {
        background: greenyellow;
    }
} 


@media (max-width: 600px) and (min-width: 100px) {
    .xs-col-1 {width: 8.33%;}
    .xs-col-2 {width: 16.66%;}
    .xs-col-3 {width: 25%;}
    .xs-col-4 {width: 33.33%;}
    .xs-col-5 {width: 41.66%;}
    .xs-col-6 {width: 50%;}
    .xs-col-7 {width: 58.33%;}
    .xs-col-8 {width: 66.66%;}
    .xs-col-9 {width: 75%;}
    .xs-col-10 {width: 83.33%;}
    .xs-col-11 {width: 91.66%;}
    .xs-col-12 {width: 100%;}
        [class*='col-'] {
        background: orange;
    }
}
